<div>
  <md-toolbar color="primary">
    <div *shellNoRender>
      <button md-icon-button [md-menu-trigger-for]="menu">
        <md-icon>menu</md-icon>
      </button>
      <md-menu x-position="after" #menu="mdMenu">
        <button md-menu-item routerLink="/" routerLinkActive="active">Home</button>
        <button md-menu-item routerLink="/pokemon">Pokémon</button>
        <button md-menu-item routerLink="/help">Help</button>
      </md-menu>
    </div>
    <span class="fill-remaining-space"></span>
    <span>I choose you!™</span>
  </md-toolbar>
  <md-card>
    <md-progress-bar mode="indeterminate" *shellRender></md-progress-bar>
    <router-outlet></router-outlet>
  </md-card>
</div>
